body {
    font-family:Consolas; 
    margin: 0px;
    padding: 0px;
}

table.diff {
    border:medium; 
    width:100%;
    background-color: #f7f7f7;
    color: #000;
    text-shadow: 1px 1px 1px rgba(33,33,33,0.3)
}

.diff_header {
    background-color:#ccc;
}

td.diff_header {
    text-align:right;
    color: #8f0206;
}

.diff_next {
    background-color:#aaa;
    text-align:center;
}
.diff_next a {
    text-decoration: none;
    color: #000;
}
.diff_next a:hover {
    text-decoration: none;
    color: #000;
}
.diff_next a:visited {
    text-decoration: none;
    color: #000;
}

.diff_add {
    background-color:#aaffaa;
}

.diff_chg {
    background-color:#ffff88;
}

.diff_sub {
    background-color:#ff5555;
}

span.searchword { 
    background-color:yellow; 
    color:red;
}

span.keyword {
    color:blue;
}

.title {
    font-weight: bold;
}
